body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hero header {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    color: #ffffff;
    padding-left:500px;
    padding-right: 500px;
}

.links{
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.heroContent{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 10px;
}

img {
    max-width: 500px;
    max-height: 300px;
}

.heroContent .text {
    width: 500px;
    height: 400px;
}

.heroContent .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroContent .text p , .links{
    font-size: 18px;
    color: #E5E7EB;
}


.boxContent{
    display: flex;
    max-width:fit-content;
    gap: 30px;
    margin:auto;
}

.boxTitle{
    margin:auto;
}
.outerBoxContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:25px;
}

.box1 ,.box2 ,.box3 ,.box4{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px; 
}

.quoteContent{
    display: flex;
}

.ctaContent{
    display: flex;
}

.footer{
    display: flex;
}


.footer, .hero, .heroContent {
    background-color: #1F2937;
}