body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hero header {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    color: #ffffff;
    padding-left:500px;
    padding-right: 500px;
}

.links{
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.heroContent{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 10px;
}

img {
    max-width: 500px;
    max-height: 300px;
}

.heroContent .text {
    width: 500px;
    height: 400px;
}

.heroContent .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroContent .text p , .links{
    font-size: 18px;
    color: #E5E7EB;
}


.boxContent{
    display: flex;
    max-width:fit-content;
    gap: 30px;
    margin:auto;
}

.boxTitle{
    margin:auto;
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
}
.outerBoxContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:25px;
}

.box1 ,.box2 ,.box3 ,.box4{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px; 
}

.box1 img, .box2 img,.box3 img,.box4 img{
    border-radius:25px;
}

.quoteContent{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 75px;
    margin-top: 50px;
}

.para{
    color:#1F2937;
    font-size: 36px;
    max-width: 800px;
    margin: auto;
}

.author {
    align-self: flex-end;
    padding-right: 500px;
}

.ctaContent{
    display: flex;
    padding: 50px;
    background-color: #3882F6;
    margin:auto;
    margin-top: 50px;
    margin-bottom:50px;
}

.footer{
    display: flex;
}


.footer, .hero, .heroContent {
    background-color: #1F2937;
}

button{
    color: white;
    background-color: #3882F6;
    border:0;
    padding: 10px;
    border-radius: 15px;
}

.ctaButton{
    border: solid white;
}